@using Microsoft.AspNetCore.Identity
@using CarAds
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResource> Localizer
@inject SignInManager<IdentityUser> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon"/>
    <link rel="icon" href="~/favicon.ico" type="image/ico"/>
    <title>@ViewBag.Title - @ViewBag.TitleSufix</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CarAds.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <div>
                    <a class="navbar-brand p-2 pb-3 bg-light rounded-circle" href="@Url.Action(@ViewBag.IndexAction as String, @ViewBag.Homecontroller as String)">
                        <img  src="~/assets/images/car-ads-logo.png" alt="Logo" height="50" width="150" />
                    </a>
                </div>
                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse flex-grow-1">
                    <ul class="navbar-nav justify-content-between ms-auto mt-4 mb-3 mt-sm-0 mb-sm-0">
                        <li class="nav-item m-auto">
                            @Html.ActionLink(@Localizer["Home"], @ViewBag.IndexAction as String, @ViewBag.Homecontroller as String, null, new { @class = "nav-link d-inline" });
                        </li>
                        <li class="nav-item m-auto">
                            @Html.ActionLink(@Localizer["Contact"], @ViewBag.IndexAction as String, @ViewBag.ContactController as String, null,  new { @class = "nav-link d-inline" });
                        </li>
                        <li class="nav-item m-auto">
                            @Html.ActionLink(@Localizer["About us"], @ViewBag.IndexAction as String, @ViewBag.AboutUsController as String, null, new { @class = "nav-link d-inline" });
                        </li>
                        <li class="nav-item m-auto">
                            @Html.ActionLink(@Localizer["Add Car"], @ViewBag.AddCarAction as String, @ViewBag.CarControoler as String, null, new { @class = "nav-link d-inline" });
                        </li>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">@User.Identity.Name</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item m-auto">
                                        <a class="nav-link text-dark text-nowrap" id="register" asp-area="Identity" asp-page="/Account/Register">@Localizer["New Admin"]</a>
                                    </li>
                                    <li class="nav-item m-auto">
                                        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                                            <button type="submit" class="nav-link text-dark bg-transparent border-0 pe-0">@Localizer["Logout"]</button>
                                        </form>
                                    </li>
                                </ul>
                            </li>
                        } else if (ViewBag.Admin == true)
                        {
                            <li class="nav-item m-auto">
                                <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Login" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                    <button id="logout" type="submit" class="nav-link btn btn-link">Login</button>
                                </form>
                            </li>
                        }
                        <li class="nav-item">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">lang</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item m-auto text-dark">
                                        @Html.ActionLink("en", "SetCulture", "Home", new { culture = "en", sourceUrl = @Context.Request.Path }, new { @class = "nav-link text-dark"})
                                </li>
                                <li class="nav-item m-auto">
                                        @Html.ActionLink("sr", "SetCulture", "Home", new { culture = "sr", sourceUrl = @Context.Request.Path }, new { @class = "nav-link text-dark"})
                                </li>
                                <li class="nav-item m-auto">
                                        @Html.ActionLink("de", "SetCulture", "Home", new { culture = "de-DE", sourceUrl = @Context.Request.Path }, new { @class = "nav-link text-dark"})
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="d-flex px-3 border-top footer text-muted position-static mt-auto">
        <div class="container ">
            <div class="row">
                <div class="col-12 col-md-4 my-auto">
                    <p class="text-muted text-center mb-0 text-md-start">© @DateTime.Now.Year @ViewBag.Title</p>
                </div>
                
                <div class="col-12 col-md-4 d-flex align-items-center justify-content-center">
                    <img  src="~/assets/images/car-ads-logo.png" alt="Logo" height="50" width="150" />
                </div>
                

                <ul class="nav col-12 col-md-4 justify-content-center justify-content-md-end">
                  <li class="nav-item">
                        @Html.ActionLink(@Localizer["Home"], @ViewBag.IndexAction as String, @ViewBag.Homecontroller as String, null, new { @class = "nav-link px-2 text-muted d-inline" })
                  </li>
                  <li class="nav-item">
                        @Html.ActionLink(@Localizer["Contact"], @ViewBag.IndexAction as String, @ViewBag.ContactController as String, null, new { @class = "nav-link px-2 text-muted d-inline" })
                  </li>
                  <li class="nav-item">
                        @Html.ActionLink(@Localizer["About Us"], @ViewBag.IndexAction as String, @ViewBag.AboutUsController as String, null, new { @class = "nav-link px-2 text-muted d-inline" })
                  </li>
                </ul>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
        $(function () {
            $('.selectpicker').selectpicker();
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>